html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	background:
		radial-gradient(ellipse at top, #fff8c4, transparent),
		radial-gradient(ellipse at bottom, #e88dff, transparent);
}

.container {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	gap: 1.5rem;
}

button {
	font-size: 3rem;
	border: solid 0.15em #aaa;
	border-radius: 0.15em;
	color: #333;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	padding: 1rem;
}

.nedry {
	position: relative;
	width: 90vmin;
	height: 90vmin;
}

.nedry-body {
	height: 69%;
	object-position: bottom;
	position: absolute;
	bottom: 0;
	left: 26%;
}

.nedry-head {
	position: absolute;
	top: 0;
	left: 35%;
	height: 49%;
}

.nedry-hand {
	position: absolute;
	top: 25%;
	left: 62%;
	transform-origin: 50% 90%;
	height: 35%;
	animation: handFrames 0.7s linear infinite;
}

@keyframes handFrames {
	0%   { transform: rotate(-10deg); }
	50%  { transform: rotate(14deg ); }
	100% { transform: rotate(-10deg); }
}
